
<section>
		<!-- <div class="page-header">
		<h1 class="text-center">Bookshelf<small></small></h1> -->
	<div class="container">
		<div class="row">
			<div class="col-xs-12 ">
				<form class="form-group align" role="search">
					<div class="form-group ">
						<label for="search">Search</label>
						<input ng-model="search" type="text" class="form-control" id="search">
					</div> 
					<div class="form-group">
						<label for="search">Sort</label>
					
						<select class="form-control" ng-options="option as option.label for option in ctrl.sortOptions" ng-model="ctrl.sortOption"></select>
					</div>
				</form>
		 	</div>
		</div>
	</div>

		
		 <div class="media book-list-item">
			<!--  <div class="media-left"> -->
			 	<div class="container-fluid">
					<div class="row">
						<div ng-repeat="book in ctrl.books
							   | filter:search
							   | orderBy: ctrl.sortOption.sortField:ctrl.sortOption.reverse"
							
							class="col-xs-12 col-sm-4 col-md-3">
							<!-- <a href="#"> -->
							<img ng-click="ctrl.goToDetails(book)" class="media-object book-image" alt="cover image" ng-src="{{book.image}}" height="280" width="190" class="image-responsive">
							<!-- </a> -->
						</div>
			  		</div>
		  		</div>
		  <!-- 	</div> -->
	  	</div>
</section>





