.container-fluid {
	/*margin: 15px auto;*/
    position: relative;
    padding-top: 10.59%;
    padding-bottom: 20.59%;

}

/*img {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
}*/
